* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #f5f5f5;
    --secondary-color: #E1624F;
    --tertiary-color: #1b1b1b;
    --quaternary-color: #6f646c;
    --quinquenary-color: #333333;
    --font-weight-bold: 700;
    --font-weight-normal: 400;
    --margin40: 2.5rem auto;
    --margin64: 4rem auto;
    --border-radius: 1.5rem;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--primary-color);
}

#container-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 75rem;
    margin: var(--margin40);
    padding: 1.5rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid var(--quinquenary-color);
}

#container-page .home-page {
    font-size: 1rem;
    font-weight: var(--font-weight-bold);
    line-height: 1rem;
    color: var(--secondary-color);
    padding-bottom: 1.5rem;
}

#container-page h1 {
  font-size: 2rem;
  font-weight: var(--font-weight-bold);
  line-height: 1rem;
  color: var(--tertiary-color);
  padding-bottom: 1rem;
}

#home-nav {
    display: flex;
    margin: 1rem ;
}

#home-nav ul li a{
    display: flex;
    list-style: none;
    color: var(--tertiary-color);
    padding: 0.5rem;
    text-decoration: none;
    font-weight: var(--font-weight-bold);
}

#home-nav ul li a:hover {
    color:var(--quaternary-color);
}

#container-page img {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    border-radius: var(--border-radius);
}

#container-page .home-about {
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--tertiary-color);
    margin: var(--margin40);
}

#container-drafts {
  display: flex;
  flex-direction: column;
  max-width: 75rem;
  padding: 1.5rem;
  margin: var(--margin40);  
}

#container-drafts h2 {
    font-size: 2rem;
    font-weight: var(--font-weight-bold);
    line-height: 1rem;
    color: var(--tertiary-color);
    padding-bottom: 2rem 0;
}

#container-drafts p {
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--tertiary-color);
    margin-bottom: 2rem;
}

#container-destinations {
    max-width: 75rem;
    padding: 1.5rem;
    margin: var(--margin40);  
  }

#container-destinations h2 {
    font-size: 2rem;
    font-weight: var(--font-weight-bold);
    line-height: 1rem;
    color: var(--tertiary-color);
    padding: 2rem 0;
}

#container-destinations spam {
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--tertiary-color);
    margin-bottom: 2rem;
}

#container-destinations nav {
  color: var(--tertiary-color);
}





