* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #f5f5f5;
    --secondary-color: #E1624F;
    --tertiary-color: #1b1b1b;
    --quaternary-color: #6f646c;
    --quinquenary-color: #333333;
    --font-weight-bold: 700;
    --font-weight-normal: 400;
    --margin40: 2.5rem auto;
    --margin64: 4rem auto;
    --border-radius: 1.5rem;
    --img-width: 70rem;
    --img-height: 25rem;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--primary-color);
}

#container-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 75rem;
    margin: var(--margin40);
    padding: 1.5rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid var(--quinquenary-color);
}

#container-page .home-page {
    font-size: 1rem;
    font-weight: var(--font-weight-bold);
    line-height: 1rem;
    color: var(--secondary-color);
    padding-bottom: 1.5rem;
}

#container-page h1 {
  font-size: 2rem;
  font-weight: var(--font-weight-bold);
  line-height: 1rem;
  color: var(--tertiary-color);
  padding-bottom: 1rem;
}

#home-nav {
    display: flex;
    margin: 1rem ;
}

#home-nav ul li a{
    display: flex;
    list-style: none;
    color: var(--tertiary-color);
    padding: 0.5rem;
    text-decoration: none;
    font-weight: var(--font-weight-bold);
}

#home-nav ul li a:hover {
    color:var(--quaternary-color);
}

#container-page img {
    display: flex;
    align-items: center;
    width: var(--img-width);
    height: var(--img-height);
    border-radius: var(--border-radius);
    margin: 2rem 0;
}

#container-page .home-about {
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--tertiary-color);
    margin: var(--margin40);
}

#container-drafts {
  display: flex;
  flex-direction: column;
  max-width: 75rem;
  padding: 1.5rem; 
}

#container-drafts h2 {
    font-size: 2rem;
    font-weight: var(--font-weight-bold);
    line-height: 1rem;
    color: var(--tertiary-color);
    padding-top: 2rem;
}

#container-drafts p {
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--tertiary-color);
    margin-top: 1.5rem;
}

#container-destinations {
    max-width: 75rem;
    padding: 1rem; 
  }

#container-destinations h2 {
    font-size: 2rem;
    font-weight: var(--font-weight-bold);
    line-height: 1rem;
    color: var(--tertiary-color);
    margin-bottom: 2rem;
}


#container-itens {
    counter-reset: item-counter;
    margin: 2rem 0;
}

#container-itens .item-content {
    font-weight: var(--font-weight-bold);
    margin-bottom: 2rem; /* Espaçamento entre os itens */
}

#container-itens .number {
    counter-increment: item-counter;
    content: counter(item-counter) ". "; /* Adiciona o numeral decimal */
    font-weight: var(--font-weight-bold);
    display: inline-block; /* Alinha o numeral na mesma linha */
    margin-right: 0.5rem; /* Espaçamento entre o numeral e o título */
}

#container-itens .title {
    display: inline; /* Alinha o título na mesma linha */
    font-weight: var(--font-weight-bold); /* Texto em negrito para o título */
}

#container-itens .good-for {
    display: flex;
    flex-direction:column;
    flex-wrap: wrap; /* Quebra a linha dos itens */
    gap: 0.5rem; /* Espaçamento entre os itens */
    margin-top: 0.5rem; /* Espaçamento entre os itens */
    font-weight: var(--font-weight-bold); /* Texto normal para a descrição */
    font-size: 1rem;
    margin-left: 2rem; /* Espaçamento à esquerda */
}

#container-itens spam {
    line-height: 1rem;
    font-size: 1rem;
}

#container-itens spam::before {
    margin-left: 0.5rem;
    content: "•";
    margin-right: 0.5rem;
    color: var(--tertiary-color);
}

#container-itens .description {
    font-weight: var(--font-weight-normal); /* Texto normal para a descrição */
    font-size: 1rem;
}

#container-closure {
    display: flex;
    flex-direction: column;
    max-width: 75rem;
    border-top: 0.5rem solid var(--quinquenary-color);
    margin: var(--margin40);
}

#container-closure h2 {
    font-size: 2rem;
    font-weight: var(--font-weight-bold);
    line-height: 1rem;
    color: var(--tertiary-color);
    padding-top: 2rem;
}

#container-footer {
    display: flex;
    justify-content: space-around; /* Espaça os itens */
    width:75rem;
    padding: 1rem;
    margin-top: var(--margin64);
    border-top: 1px solid var(--quinquenary-color);
}

#container-footer .copy, 
#container-footer .dev {
    font-size: 0.75rem;
    color: var(--tertiary-color);
}

#container-footer .back-to-top {
    font-size: 1rem;
    color: var(--tertiary-color);
    text-decoration: none;
    font-weight: bold;
    display: flex;
}

#container-footer .back-to-top i {
    margin-right: 0.5rem;
}
